
        <div class="c-about" id="o-mnie">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--112">
                        <h2 class="o-lead o-lead--2">Kim jestem i&nbsp;dlaczego o&nbsp;tym mówię</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Tworzeniem treści zainteresowałem się ponad 10 lat temu, kiedy szukałem tanich i szybkich sposobów na promocję mojej firmy. Dałem temu szansę i content marketing szybko stał się moim podstawowym źródłem nowych klientów.</p>
                        </section>
                    </header> 
                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <img class="b-lazy alignleft" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/about/jacek-3.jpg") %> alt="Jacek Kłosiński">
                        </div>
    
                        <div class="o-cols__item">
                            <div class="o-article o-article--medium">                       
                            
                            <p>Dziś mojego bloga czyta każdego miesiąca ponad <strong>80&nbsp;000</strong> osób. Mam własny podcast, kanał na YouTube i&nbsp;popularne konta w różnych serwisach społecznościowych.</p>
                            
                            <p>&nbsp;</p>

                            <p>To właśnie tworzone w odpowiedni sposób treści pozwoliły mi sprzedać 2000 kursów online, kilka tysięcy książęk i zdobyć takich klientów na moje szkolenia, jak IKEA, Orange, Play, czy ING. Mój blog i media społecznościowe stały się na tyle atrakcyjnym miejscem,
że takie marki jak Panasonic, Asus, czy Tołpa płacą mi za to, że o nich wspomnę.</p>

                            <p>&nbsp;</p>
                            
                            <p>Nie zostałem gwiazdą Internetu, ale dzięki tworzonym treściom mój biznes ma się świetnie. Pomogę Ci sprawić, żeby content marketing działał również na Twoją korzyść.</p>

                        </div>
                    </div>
    
                </div>
                    
                </div>
            </div>
        </div>
