
    <div class="c-afterintro" id="after">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="c-post">
                    <div class="o-article o-article--medium">
                        
                        <blockquote>
                            <p>Kiedy szukasz sposobów na promowanie swojego biznesu, szybko zauważysz, że wiele osób poleca <strong>content marketing</strong>.</p>
 
                            <h6 class="o-lead o-lead--6">Pomysł jest prosty:</h6>

                            <p>wystarczy tworzyć ciekawe treści, które przyciągną nowych klientów. Niestety, łatwo powiedzieć, trudniej zrobić.</p>
                        </blockquote>
                    </div>
                    
                    <hr class="dot">                    

                    <div class="c-afterintro__blocks">
                        <div class="o-cols o-cols--2">
                            <div class="o-cols__item">
                                <figure class="o-textblock">
                                    <i class="icon-bulb"></i>
                                    
                                    <figcaption>
                                        <p class="o-lead o-lead--5">O czym masz opowiadać?</p>
                                        
                                        <div class="o-article o-article--medium bottom--112">
                                            <p>Nie masz pomysłu na ciekawe tematy. 
    Co takiego możesz opowiedzieć 
    i&nbsp;pokazać ludziom, żeby zachęcić ich 
    do zakupu lub współpracy?</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
        
                            <div class="o-cols__item">
                                <figure class="o-textblock">
                                    <i class="icon-clock"></i>
                                    
                                    <figcaption>
                                        <p class="o-lead o-lead--5">Jak na tym zarobić?</p>
                                        
                                        <div class="o-article o-article--medium bottom--112">
                                            <p>Zastanawiasz się gdzie w tym wszystkim są pieniądze. Pisanie bloga, czy prowadzenia profilu w social media to masa pracy. Jak przełożyć to na korzyści dla Twojej firmy?</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        
                        <div class="o-cols o-cols--1">
                            <div class="o-cols__item">
                                <figure class="o-textblock">
                                    <i class="icon-headphones--bold"></i>
                                    
                                    <figcaption>
                                        <p class="o-lead o-lead--5">Jaką formę treści wybrać?</p>
                                        
                                        <div class="o-article o-article--medium bottom--112">
<p>Nagrywać podcast, pisać bloga, czy kręcić filmy? 
A&nbsp;może wystarczą media społecznościowe? Tylko 
co wtedy będzie najlepsze – Instagram? Facebook?
LinkedIn?</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> 
                        
                        <div class="o-cols o-cols--2">
                            <div class="o-cols__item">
                                <figure class="o-textblock">
                                    <i class="icon-sad"></i>
                                    
                                    <figcaption>
                                        <p class="o-lead o-lead--5">Czy to dla mnie?</p>
                                        
                                        <div class="o-article o-article--medium bottom--112">
<p>To wydaje się do Ciebie nie pasować. 
Być&nbsp;może nie masz potrzeby być 
w centrum uwagi albo po prostu 
źle się czujesz promując i sprzedając?</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
        
                            <div class="o-cols__item">
                                <figure class="o-textblock">
                                    <i class="icon-coin"></i>
                                    
                                    <figcaption>
                                        <p class="o-lead o-lead--5">Czy mnie na to stać?</p>
                                        
                                        <div class="o-article o-article--medium">
<p>To brzmi jak zadanie dla kilku osób. Czujesz, że brakuje Ci umiejętności tworzenia ciekawych materiałów, 
a&nbsp;nie&nbsp;masz pieniędzy na zatrudnienie copywritera albo grafika.</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    
                    <hr class="dot">
                        
                    <div class="o-article o-article--medium">
                        <div class="c-afterintro__summary">
                            <div class="o-cols o-cols--2">
                                <div class="o-cols__item">
                                    <figure>
                                        <img src=<%= require("./img/about/jacek-2.jpg") %> 
                                             alt="Jacek Kłosiński" width="512" height="410">
                                    </figcaption>
                                </div>
                                
                                <div class="o-cols__item">
                                     <p>A najgorsze jest to, że im dłużej o tym myślisz, tym 
    więcej&nbsp;problemów zauważasz.</p>
    
    <p>Zaczynasz czytać o dobieraniu hashtagów, tworzeniu perfekcyjnych miniatur, komponowaniu spójnej siatki zdjęć, optymalizacji pod wyszukiwarki i setkach innych
    niuansów.</p>
    
    <p><strong>Chcę Ci zaproponować zupełnie inne podejście.</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                             
            </div>
        </div>
    </div>
