
    <div class="c-catboxes bg-gray">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Forma kursu</h2>          

                    <div class="o-article o-article--huge">
                        <p>Co dokładnie dostaniesz? Jak wyglądają lekcje i z czego się składają? Poniżej znajdziesz listę najważniejszych elementów kursu.</p>
                    </div>
                </div>               

                <div class="c-boxes__items">
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-video"></i>
                            Wideo
                        </h4>
                        
                        <div class="o-article">
                            <p>Lekcje mają formę wideo. Każdy temat omawiam za pomocą przejrzystej prezentacji.</p>
                        </div>
                    </div>
                     
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-edit"></i>
                            Arkusze
                        </h4>
                        
                        <div class="o-article">
                            <p>Do większości lekcji dołączone są szablony z ćwiczeniami. Oprócz oglądania bardzo ważna będzie praktyka. </p>
                        </div>
                    </div>

                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-check-circle"></i>
                            Checklisty
                        </h4>
                        
                        <div class="o-article">
                            <p>Otrzymasz też listy kontrolne pokazujące kroki, które trzeba wykonać albo elementy, na które musisz zwrócić uwagę.</p>
                        </div>
                    </div>


                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-align-left"></i>
                            Notatki
                        </h4>
                        
                        <div class="o-article">
                            <p>Najważniejsze wnioski z każdej lekcji znajdziesz pod filmem także jako tekst. To praktyczna ściąga.</p>
                        </div>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-layout"></i>
                            Platforma
                        </h4>
                        
                        <div class="o-article">
                            <p>Całość umieściłem na mojej autorskiej platformie. Stworzyłem ją od zera, żeby zapewnić świetną jakość nauki.</p>
                        </div>
                    </div>
                    
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-message-square"></i>
                            Społeczność
                        </h4>
                        
                        <div class="o-article">
                            <p>Otrzymasz też dostęp do grupy, w której odpowiem na Twoje pytania i w której wymienisz się doświadczeniami.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
