
    <div class="c-catboxes c-catboxes--course bg-gray" id="o-kursie">
        <div class="o-section">
            <div class="o-wrap">
                
                <div class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Kurs online</h2>          

                    <div class="o-article o-article--huge">
                        <p>Stworzyłem kurs online, w którym krok po kroku pokażę Ci jak zdobywać nowych klientów dzięki ciekawym treściom.</p>
                    </div>
                </div>               

                <div class="c-boxes__items">
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-doc"></i>
                            Skupimy się na podstawach
                        </h4>
                        
                        <div class="o-article">
                            <p>W tworzeniu treści najważniejsza&nbsp;jest… treść. 
Jeśli&nbsp;Twoje posty są dobre, nie ma znaczenia, czy opublikujesz je na Instagramie, LinkedIn, czy Facebooku.</p>
                        </div>
                        
                        <div class="o-article">
                            <p><strong>Dlatego nie będziemy tracić czasu na szczegóły, takie jak hashtagi, czy analizowanie
zalet wszystkich możliwych serwisów. Skupimy się na tym, jak stworzyć skuteczne
treści. Reszta to dodatek.</strong></p>
                        </div>
                    </div>
                     
                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-clients"></i>
                            Poszukamy klientów
                        </h4>
                        
                        <div class="o-article">
                            <p>Pamiętaj jaki jest Twój cel:<br> 
                            chcesz dotrzeć do ludzi 
                            z&nbsp;informacją o Twojej firmie.</p>
                            
                            <p>&nbsp;</p>

                            <p>Dla Ciebie licznik obserwujących&nbsp;nie jest najważniejszy. Znaczenie ma to, jak przełożysz ten zasięg na nowych klientów.</p>
                        </div>
                        
                        <div class="o-article">
                            <p><strong>Zdobywanie lajków, a zdobywanie klientów to dwa różne cele. W&nbsp;kursie skupimy się na biznesowej stronie tworzenia treści.</strong></p>
                        </div>
                    </div>

                    <div class="o-box">
                        <h4 class="o-lead o-lead--5">
                            <i class="icon-pen"></i>
                            Postawimy<br> na prostotę
                        </h4>
                        
                        <div class="o-article">
                            <p>Większość osób zupełnie niepotrzebnie komplikuje proces&nbsp;tworzenia treści. Szukamy&nbsp;różnych formatów i&nbsp;narzędzi, a to wcale nie jest potrzebne.</p>
                        </div>
                        
                        <div class="o-article">
                            <p><strong>Żeby zastosować sposoby omawiane w kursie, nie potrzebujesz zaawansowanego
sprzętu ani doświadczenia. Komputer z klawiaturą i&nbsp;Internetem, to jedyne czego
potrzebujesz.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
