
    <div class="c-contact bg-gray">
        <div class="o-wrap">
            <div class="o-section">

                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">                    

                        <div class="o-header">
                            <h5 class="o-lead o-lead--6">Kontakt</h5>
                            <h3 class="o-lead o-lead--3">masz inne pytania lub<br> coś jest niejasne?</h3>
                        </div>

                        <div class="c-contact__more">
                            <a href="mailto:kontakt@klosinski.net" class="o-btn o-btn--white">Napisz</a>
                        </div>
                    </div>


                    <div class="o-cols__item">
                       
                       <div class="c-contact__img">
                           <img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src=<%= require("./img/intro/jacek.jpg") %> alt="jacek kłosiński" width="600">
                       </div>
                       
                    </div>
                </div>
                
            
            </div>            
        </div>
    </div>
