
        <div class="c-cost bg-yellow" id="cena">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter">
                        <h2 class="o-lead o-lead--2">ile to kosztuje</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Właśnie trwa przedsprzedaż kursu, a&nbsp;to oznacza, że całość nie jest jeszcze gotowa. Lekcje będę sukcesywnie wgrywał na platformę kursową w maju.</p>

<p>&nbsp;</p>

<p><strong>W przedsprzedaży dostęp do kursu<br>
jest znacznie tańszy i&nbsp;kosztuje:</strong></p>                           
                        </section>
                    </header> 
    
                    <div class="c-cost__content bottom--160">
                        <div class="c-cost__plan c-cost__plan--white">                            
                            <div class="c-cost__price">
                                <p class="o-lead o-lead--current">349 zł</p>
                                <p class="o-lead o-lead--6">brutto</p>
                            </div>
                            
                            <p class="c-cost__more">W ramach tego<br> otrzymujesz:</p>
                            
                            <article class="o-article">
                                <ul class="o-list o-list--graychecks">                                    
                                    <li>Nieograniczony czasowo dostęp do kursu, aktualizacji i bonusów</li>
                                    
                                    <li>4 godz. nagrań wideo, do obejrzenia 
                                        w&nbsp;dowolnym miejscu</li>
                                    
                                    <li>Arkusze do ćwiczeń, schematy i&nbsp;szablony</li>
                                    
                                    <li>Rabat związany z&nbsp;przedsprzedażą</li>
                                    
                                    <li>Własne konto na mojej autorskiej platformie kursowej</li>
                                </ul>
                            </article>
                            
                            <div class="c-cost__cta">
                                <a href="#cena" class="o-btn o-btn--huge o-btn--black js-goto">wow, kupuję!</a>
                            </div>
                        </div>                        
                    </div>
                    
                    <div class="c-cost__risk">
                        <header class="o-header aligncenter">
                            <h2 class="o-lead o-lead--2">Zero ryzyka</h2> 
                            
                            <section class="o-article o-article--medium">
                                <p>Zrobię wszystko, żeby kurs Ci pomógł i dał realną wartość. Jeśli jednak ten materiał nie spełni Twoich oczekiwań, oddam Ci pieniądze. Wystarczy, że do 30 maja napiszesz na <a href="mailto:kontakt@klosinski.net">kontakt@klosinski.net</a>. Nie musisz niczego uzasadniać. Dostaniesz pełen zwrot pieniędzy.</p>      
                            </section>
                        </header>
                    </div>
                </div>
            </div>
        </div>
