
        <div class="c-counter">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <div class="o-header aligncenter bottom--72">
                        <h2 class="o-lead o-lead--2">Nie czekaj</h2>
                        <h6 class="o-lead o-lead--6">kurs można kupić jeszcze tylko przez:</h6>
                    </div> 

                    
                    <div class="c-counter__content" id="timer" data-endtime="10/14/2021 11:59:59 PM">
        
                        <div class="c-counter__item" data-title="dni">
                            <span id="days"></span>
                        </div>
                        
                        <div class="c-counter__item" data-title="godzin">
                            <span id="hours"></span>
                        </div>
                        
                        <div class="c-counter__item" data-title="minut">
                            <span id="minutes"></span>
                        </div>
                        
                        <div class="c-counter__item" data-title="sekund">
                            <span id="seconds"></span>
                        </div>
                    </div>
                    
                    <div class="c-counter__cta">
                        <a href="#cena" class="o-btn o-btn--huge o-btn--black js-goto">Racja, kupuję!</a>
                    </div>
                </div>                
            </div>
        </div>
