
    <div class="c-faq">
        <div class="o-section">
            <div class="o-wrap">

                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Czy kurs mogę zgrać sobie na komputer?</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Kurs dostępny jest wyłącznie przez platformę kursową.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Czy otrzymam fakturę VAT?</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Tak, oczywiście. Pamiętaj tylko, żeby podać dane przy zakupie kursu. Zakup kursu możesz wpisać w koszty, dzięki temu będzie on dla Ciebie dużo tańszy.</p>
                            </li>
                        </ul>
                    </li>                  

                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">W jaki sposób otrzymam dostęp?</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Po opłaceniu kursu, dane do logowania prześlę Ci od razu automatycznie mailem. Dostęp do Twojego konta będzie natychmiastowy.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Czy jest możliwość płatności w ratach?</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Aktualnie nie ma takiej możliwości.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Czy kurs uwzględnia indywidualne konsultacje?</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Kurs nie obejmuje konsultacji, w tym indywidualnych rozmów, np. przez telefon, mail lub Skype itp.</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Potrzebujesz innej formy płatności?</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Napisz do nas na <a href="mailto:kontakt@klosinski.net">kontakt@klosinski.net</a>. Postaramy się znaleźć rozwiązanie, możesz zapłacić np. tradycyjnym przelewem na podstawie faktury lub faktury pro-forma.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
