
    <div class="c-footer">
        <div class="o-wrap">
            <div class="o-section">
                
                <% include navfooter %>
            
                <p class="copyrights">&copy; 2021 Jacek Kłosiński. All rights reserved</p>
            
            </div>
        </div>
    </div>


    <div class="c-cookies move-out" id="cookies">
        <div class="c-cookies__text">Wykorzystujemy pliki cookies. Szczegóły znajdziesz w&nbsp;<a href="https://klosinski.net/RODO/KLOSINSKI_JACEK_polityka_prywatnosci_i_plikow_cookies.pdf" target="_blank" rel="noopener">polityce prywatności</a>.</div>
        <div class="o-btn o-btn--black js-accept">Wyrażam zgodę</div>
</div>