
    <div class="c-index" id="zawartosc">
        <div class="o-section">
            <div class="o-wrap">
                
                <header class="o-header aligncenter bottom--112">
                    <h2 class="o-lead o-lead--2">Spis treści</h2>          

                    <section class="o-article o-article--huge">
                        <p>Potrzebujesz konkretów? Rozwiń poniżej, żeby zobaczyć jakie dokładnie tematy omówię w kursie:</p>
                    </section>
                </header>
                

                <ul class="o-accordion js-accordion">
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Pomysły na treści</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Dlaczego tworzenie ofert jest niezbędne?</p></p>
                            </li>
                            <li>
                                <p>Jak wygląda idealny proces tworzenia oferty?</p>
                            </li>
                            <li>
                                <p>Jak ocenić, do których zapytań warto przygotować ofertę?</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Zdobywanie klientów poprzez treści</h5>
                            <i class="icon-plus"></i>
                        </header>
                        
                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Jak przyciągnąć uwagę klienta poprzez treści?</p>
                            </li>
                            
                            <li>
                                <p>Jak opowiadać o swoich produktach lub usługach?</p>
                            </li>
                            
                            <li>
                                <p>Jak pokazać odbiorcy nasze zalety i korzyści ze współpracy?</p>
                            </li>
                            
                            <li>
                                <p>Jak dopasować treści do własnego stylu i marki?</p>
                            </li>
                            
                            <li>
                                <p>Jak promować produkty bez narzucania się i nachalności?</p>
                            </li>
                            
                            <li>
                                <p>Jak wyważyć treści biznesowe z pozostałymi tematami?</p>
                            </li>
                            
                            <li>
                                <p>Jak budować relację i nawiązywać kontakt w social media?</p>
                            </li>
                            
                            <li>
                                <p>Jak wzbudzać zaufanie i odpowiadać na obiekcje klienta?</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Formuła dla treści</h5>
                            <i class="icon-plus"></i>
                        </header>

                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Jak tworzyć treści, które przyciągają uwagę i się wyróżniają?</p>
                            </li>
                            
                            <li>
                                <p>Jakie treści wzbudzają największe zainteresowanie?</p>
                            </li>
                            
                            <li>
                                <p>Jak zachęcić odbiorcę do działania i zaangażowania?</p>
                            </li>
                            
                            <li>
                                <p>Jak wykorzystać historie, humor i analogie?</p>
                            </li>
                            
                            <li>
                                <p>Jakie są najskuteczniejsze schematy tworzenia treści?</p>
                            </li>
                            
                            <li>
                                <p>Po jakie konwencje i narzędzia sięgać?</p>
                            </li>
                            
                            <li>
                                <p>Jak stworzyć skuteczny nagłówek?</p>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="o-accordion__item js-box">
                        <header class="o-title js-title">
                            <h5 class="o-lead o-lead--4">Zasady publikowania</h5>
                            <i class="icon-plus"></i>
                        </header>

                        <ul class="o-list o-list--grayarrows js-more">
                            <li>
                                <p>Jakie są rodzaje treści, które warto publikować?</p>
                            </li>
                            
                            <li>
                                <p>Jak często publikować treści?</p>
                            </li>
                            
                            <li>
                                <p>Jak wykorzystywać treści wielokrotnie?</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
