
    <div class="c-intro bg-yellow">
        <div class="o-wrap">
            
            <div class="o-cols o-cols--2">
                <div class="o-cols__item">
                    
                    <div class="o-header">
                        <h5 class="o-lead o-lead--5">Kurs online</h5>
                        <h3 class="o-lead o-lead--2">Treści, które sprzedają</h3>
                    </div>

                    <div class="o-article o-article--huge">
                        <p>Naucz się tworzyć treści, które zdobywają nowych klientów, nawet jeśli masz mało czasu albo nie lubisz się promować.</p>
                    </div>
                </div>
                
                <div class="o-cols__item anim anim--delay2 anim--right">
                    <img src=<%= require("./img/intro/jacek.jpg") %> alt="jacek kłosiński" width="842" height="616">
                </div>
            </div>
            
            <a href="#after" class="o-more icon-arrow-right js-goto"></a>
        </div>
    </div>
