
        <div class="c-isitwork bg-gray">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--160">
                        <h2 class="o-lead o-lead--2">Czy to działa</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Sposoby omawiane w kursie, pokazywałem już wcześniej, w trakcie zamkniętych warsztatów. Zobacz co mówią uczestnicy.</p>
                        </section>
                    </header> 
                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <figure class="c-isitwork__profile">
                                <img src=<%= require("./img/isitwork/face-01.png") %> alt="Krzysztof Kurek" width="56" height="56">
                                
                                <figcaption>
                                    <p class="name">Krzysztof Kurek</p>
                                    <p class="position">ceo, codium.studio</p>
                                    <article class="o-article o-article--medium">
                                        <p>„Kurs pomógł mi i mojemu zespołowi zyskać zlecenie na pokaźną sumę. Teraz każdą ofertę przygotowujemy w oparciu o pozyskaną wiedzę. Mówią, że jakość to doskonałość, której nie da się osiągnąć, lecz do której trzeba dążyć. Teza chyba właśnie została obalona. Polecam każdemu inwestycję!”</p>
                                    </article>
                                </figcaption>
                            </figure>
                        </div>
                        
                        <div class="o-cols__item">
                            <figure class="c-isitwork__profile">
                                <img src=<%= require("./img/isitwork/face-02.png") %> alt="Magdalena Godzik - Janiuk" width="56" height="56">
                                
                                <figcaption>
                                    <p class="name">Magdalena Godzik - Janiuk</p>
                                    <p class="position">właściciel, mp studio</p>
                                    <article class="o-article o-article--medium">
                                        <p>„Z ogromną przyjemnością wprowadzę u siebie kilka zmian zaproponowanych w kursie. Sądzę, 
że&nbsp;będą dla mnie sporym ułatwieniem całego procesu”.</p>
                                    </article>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
