
    <nav class="c-nav">
        <ul class="c-nav__menu">
            <li>
                <a href="#o-kursie" class="js-goto">O kursie</a>
            </li>
            
            <li>
                <a href="#zawartosc" class="js-goto">Zawartość</a>
            </li>

            <li>
                <a href="#cena" class="js-goto">Cena</a>
            </li>
        </ul>
    </nav>

