    
                <nav class="c-navfooter">
                    <ul>
                        <li>
                            <a href="#">Regulamin</a>
                        </li>
                        
                        <li>
                            <a href="#">Polityka prywatności</a>
                        </li>
                        
                        <li>
                            <a href="#">Polityka zwrotów</a>
                        </li>
                    </ul>
                </nav>
