
    <div class="c-navmenu js-navmenu">
        <div class="c-navmenu__content js-navmenu_content">
            
            <h5 class="o-lead o-lead--6 title">Menu</h5>           

            <ul class="c-navmenu__pages">
                <li>
                    <a href="#o-kursie" class="js-goto">O kursie</a>
                </li>
                
                <li>
                    <a href="#zawartosc" class="js-goto">Zawartość</a>
                </li>
                
                <li>
                    <a href="#cena" class="js-goto">Cena</a>
                </li>
            </ul>
    
            <div class="o-hamburger is-active js-close-navmenu">
                <span class="icon-close"></span>
            </div>
        </div>
    </div>
