
        <div class="c-presale">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--112">
                        <h2 class="o-lead o-lead--2">Przedsprzedaż</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Kupując teraz, masz też wpływ na kształt kursu. Na podstawie rozmów z pierwszymi uczestnikami będę w stanie jeszcze lepiej dostosować treści do konkretnych pytań i problemów.</p>
                        </section>
                    </header> 
                    
    
                    <ol>
                        <li data-info="nagrywam kurs">
                            <div class="c-presale__info">
                                <h5 class="o-lead">po zakupie</h5>
                                <p>Otrzymujesz dostęp do własnego konta i&nbsp;grupy dyskusyjnej.</p>
                            </div>
                        </li>
                        
                        <li data-info="przerabiasz materiał">
                            <div class="c-presale__info">
                                <h5 class="o-lead">do 30.09</h5>
                                <p>Na platformie kursowej będą regularnie pojawiały się kolejne lekcje.</p>
                            </div>
                        </li>
                        
                        <li>
                            <div class="c-presale__info">
                                <p>Na grupie konsultujemy Twoje pytania i&nbsp;problemy.</p>
                            </div>
                        </li>
                    </ol>
    
                    <div class="c-presale__cta aligncenter">
                        <a href="#" class="o-btn o-btn--huge o-btn--black">Ok, kupuję!</a>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
