
        <div class="c-thoughts">
            <div class="o-section">
                <div class="o-wrap">                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            
                            <header class="o-header bottom--112 js-sticky">
                                <h2 class="o-lead o-lead--2">
                                    <span>być może<br>
                                myślisz<br>
                                teraz</span>
                                
                                    <i class="icon-quote"></i>
                                </h2>
            
                                <section class="o-article o-article--huge">
                                    <p>Jest spora szansa, że masz teraz różne wątpliwości. Postaram się na nie odpowiedzieć.</p>
                                </section>
                            </header>
                        </div>

                        <div class="o-cols__item">
                            <div class="c-thoughts__items">
                                <article class="o-article">
                                    <h5><span>Nie potrzebuję więcej planów i strategii. Chcę działać</span></h5>
                                    
                                    <section>
    <p>Każda lekcja w kursie jest nastawiona na działanie. Dostaniesz narzędzia, które możesz 
    od razu zastosować w praktyce. Dzięki nim Twoja praca nad marką będzie szybsza. Łatwiej będzie Ci tworzyć np. materiały reklamowe, teksty, oferty itd. bo będziesz mieć jasną wizję tego, jaka jest Twoja marka.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Tworzenie misji, czy wizji jest dobre dla wielkich korporacji, które nie mają co robić z pieniędzmi</span></h5>
                                    
                                    <section>
<p>Dlatego nie będziemy tracić czasu na tworzenie rzeczy, których nikt później nie używa 
i nie potrzebuje. Nie będzie teoretyzowania ani akademickiego podejścia. Zajmiemy się tylko takimi elementami, które przydadzą Ci się 
w codziennej pracy nad Twoją marką.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>mam dość opowiadania o znanych markach. Nikt nie pokazuje jak to przełożyć na małe przedsiębiorstwa</span></h5>
                                    
                                    <section>
                                        <p>To prawda, wielu autorów opiera się na przykładach wielkich marek, jak Coca-Cola, 
czy Nike, a to ma niewiele wspólnego 
z funkcjonowaniem małych firm. Dlatego 
w kursie wykorzystuję przykłady niewielkich biznesów. Pokażę Ci świetnie zaprojektowane 
i przemyślane marki, które nie są wielkimi korporacjami.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Sama wiedza to za mało. Skąd mam wiedzieć jak ją potem wykorzystać?</span></h5>
                                    
                                    <section>
                                        <p>Właśnie dlatego stworzyłem dla Ciebie gotowy proces. Pokażę Ci jak wdrażać plan na markę i wykorzystać go w praktyce w najpopularniejszych sytuacjach. Uwielbiam porządek i przejrzystość i tak jest też mój kurs. Wreszcie zyskasz jasną wizję tego, co trzeba zrobić, żeby budować lepszą markę. </p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Przecież każda marka jest inna. Czy da się zrobić jeden uniwersalny proces?</span></h5>
                                    
                                    <section>
                                        <p>I tak i nie. Podstawowe zasady budowania marki są uniwersalne i nie ma znaczenia czym się zajmujesz. Ale pewne niuanse się jednak różnią, dlatego wszędzie tam, gdzie to możliwe staram się pokazać jak moje narzędzia można modyfikować i dostosowywać do siebie.</p>

                                        <p>&nbsp;</p>

                                        <p>Personalizacja to moja mała obsesja. Do tego stopnia, że napisałem na ten temat książkę. Wiem jak tworzyć metody, które każdy może dopasować do siebie.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Moja marka istnieje już jakiś czas. Czy nie jest dla mnie za późno?</span></h5>
                                    
                                    <section>
                                        <p>W budowaniu marki ważna jest cierpliwość 
i konsekwencja, ale to nie oznacza, że nie można niczego zmieniać. Nawet jeśli działasz od dawna, możesz wykorzystać moje narzędzia do wyciągnięcia wniosków i znalezienia słabych punktów.</p>

                                        <p>&nbsp;</p>

                                        <p>Być może to jest właśnie ten element, którego potrzebujesz żeby wejść na wyższy poziom.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Brzmi dobrze, ale nie mam czasu na przerabianie kursów</span></h5>
                                    
                                    <section>
                                        <p>Też nie cierpię lania wody. Jeśli znasz już trochę moje materiały i bloga, to wiesz, że stawiam na konkrety. Kurs będzie krótki i nieprzegadany. Ten materiał testowałem wiele razy na sali szkoleniowej i cały czas go szlifowałem, żeby usunąć te elementy, które są zbędne. </p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Szkoda mojego czasu, wynajmę agencję, która zrobi to za mnie</span></h5>
                                    
                                    <section>
                                        <p>Jeśli ma to być zrobione dobrze, koszt takiej usługi będzie przynajmniej kilka razy większy 
niż kosz tego kursu. A nawet jeśli zajmą się tym specjaliści, Twoje zaangażowanie i tak będzie niezbędne. Nikt nie stworzy pomysłu na markę bez Twojej pomocy. To Ty jesteś jej twórcą. Agencja może jedynie naprowadzić Cię na konkretne rozwiązania, ale taki jest też cel tego kursu.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Mam markę non-profit. Czy to kurs tylko dla przedsiębiorców?</span></h5>
                                    
                                    <section>
                                        <p>Zasady, które pokazuję są uniwersalne. Pasują do każdej małej marki, np. zespołu muzycznego, fundacji, szkoły itp.</p>
                                    </section>
                                </article>
                                
                                <article class="o-article">
                                    <h5><span>Mam biznes związany z marketingiem, np. studio graficzne i trochę się na tym znam. Czy dowiem się czegoś nowego?</span></h5>
                                    
                                    <section>
                                        <p>Proces, który pokazuję w kursie, to gotowa usługa, którą można całkiem nieźle wycenić. Wiem, bo sam wiele razy tworzyłem na jego podstawie strategie, które kosztowały nawet kilkadziesiąt tysięcy złotych.</p>
                                        
                                        <p>&nbsp;</p>

                                        <p>Możesz zastosować mój proces i stworzyć z tego usługę w swojej firmie. Dostaniesz gotowe arkusze i narzędzia do pracy z klientami. To prosty sposób na to, żeby poszerzyć ofertę, zdobyć nowe zlecenia i zarabiać więcej.</p>
                                    </section>
                                </article>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
