
    <div class="c-top js-top">
        
        <% include nav %>
        
        <a href="index.html" class="o-logo">
            <img src=<%= require("./img/assets/logo-klosinski.svg") %> alt="klosiński" width="188" height="29">
        </a>
        
        <div class="c-top__button">
            <a href="#cena" class="o-btn o-btn--black js-goto">Kupuję</a>
        </div>
        
        <div class="o-hamburger js-open-navmenu">
            <i></i>
        </div>        
    </div>
