
        <div class="c-why bg-gray">
            <div class="o-section">
                <div class="o-wrap">                    
    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <header class="o-header bottom--112 js-sticky">
                                
                                <img src=<%= require("./img/photos/jacek-klosinski.png") %> alt="jacek klosiński" width="76" height="76">
                                <p class="o-lead o-lead--6">jeśli się zastanawiasz</p>
                                <h2 class="o-lead o-lead--3">Dlaczego teraz jest najlepszy moment na zakup kursu</h2>
                            </header>                           
                        </div>
    
                        <div class="o-cols__item">
                            <ul class="o-list o-list--yellowchecks o-list--medium">
                                
<li>Dostęp nie ma ograniczeń czasowych. Przerabianie kursu możesz zacząć
w&nbsp;dowolnym momencie. Nawet za rok.</li>

<li>Jeśli kurs Ci się nie spodoba, masz gwarancję&nbsp;zwrotu pieniędzy.</li>

<li>W kolejnych edycjach wszystkie te elementy&nbsp;nie będą zawarte w jednym pakiecie,&nbsp;a cena będzie znacznie wyższa. Promocyjna oferta dotyczy tylko przedsprzedaży.</li>

<li>Otrzymujesz narzędzia i wiedzę, którą copywriterzy i agencje wyceniają przynajmniej&nbsp;kilkukrotnie wyżej.</li>

<li>Całą tę wiedzę dostajesz w cenie projektu dwóch bannerów albo kilku reklam na
Facebooku.</li>
                                
                            </ul>
                            
                            <a href="#cena" class="o-btn o-btn--black o-btn--huge js-goto">racja, kupuję!</a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
