
        <div class="c-worth bg-gray">
            <div class="o-section">
                <div class="o-wrap">
                    
                    <header class="o-header aligncenter bottom--112">
                        <h2 class="o-lead o-lead--2">dlaczego warto</h2>          
    
                        <section class="o-article o-article--huge">
                            <p>Chcę ułatwić Ci pracę i pomóc zdobyć klientów. 
Kurs stworzyłem tak, żeby dać Ci te korzyści jak najszybciej i&nbsp;jak najłatwiej.</p>
                        </section>
                    </header> 

                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item bottom--160">
                            <div class="o-textblock">
                                <div>
                                    <p class="o-lead o-lead--5">Maksimum praktyki</p>
                                    
                                    <div class="o-article o-article--medium">
                                        <p>To będzie warsztat, a nie wykład. Przygotowałem masę ćwiczeń, przykładów i&nbsp;pomocniczych materiałów.</p>
                                    </div>
                                </div>

                                <ul class="o-list o-list--yellowchecks">
                                    <li>Koniec z&nbsp;błądzeniem i&nbsp;szukaniem odpowiedzi na własną rękę.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="o-cols__item bottom--160">
                            <div class="o-textblock">
                                <div>
                                    <p class="o-lead o-lead--5">Gotowy efekt</p>
                                    
                                    <div class="o-article o-article--medium">
                                        <p>W kilka godzin pokażę Ci wszystkie najważniejsze elementy skutecznego content marketingu. Kurs skończysz z&nbsp;gotowymi rozwiązaniami.</p>
                                    </div>
                                </div>
                                
                                <ul class="o-list o-list--yellowchecks">
                                    <li>Koniec z zastanawianiem się co, gdzie i po co opublikować.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="o-cols o-cols--1">
                        <div class="o-cols__item bottom--160">
                            <div class="o-textblock">
                                <div>
                                    <p class="o-lead o-lead--5">Nastawienie biznesowe</p>
                                    
                                    <div class="o-article o-article--medium">
                                        <p>Treści zamienimy w narzędzie przynoszące Ci nowych klientów. Chcę Ci pokazać sposoby na rozwój firmy, a nie sztuczki, które zdobywają lajki.</p>
                                    </div>
                                </div>
                                
                                <ul class="o-list o-list--yellowchecks">
                                    <li>Zyskasz potężne i tanie narzędzie do promocji swojej firmy.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item bottom--160">
                            <div class="o-textblock">
                                <div>
                                    <p class="o-lead o-lead--5">Sprawdzone narzędzia</p>
                                    
                                    <div class="o-article o-article--medium">
                                        <p>Pokażę Ci schematy tworzenia treści, formuły, arkusze i szablony, które zadziałają niezależnie od miejsca publikacji.</p>
                                    </div>
                                </div>
                                
                                <ul class="o-list o-list--yellowchecks">
                                    <li>Dam Ci praktyczne, gotowe do zastosowania narzędzia. Oszczędzisz masę czasu.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="o-cols__item">
                            <div class="o-textblock">
                                <div>
                                    <p class="o-lead o-lead--5">Dla każdego</p>
                                    
                                    <div class="o-article o-article--medium">
                                        <p>To nie jest kurs o tym, jak zostać influencerem. Nie będziemy uczyli się lansowania ani robienia selfie. Nie musisz mieć „parcia na szkło”, żeby to zadziałało.</p>
                                    </div>
                                </div>
                                
                                <ul class="o-list o-list--yellowchecks">
                                    <li>Znajdziemy takie sposoby, w których czujesz się komfortowo.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
