.o-article {
    
    br {
        @media ( max-width: $tablet + px ) {
        	display: none;
        }
    }
    
    ol {
        counter-reset: section;

        li {
            @extend %rel;
            padding-left: 95px;
            
            @media ( max-width: $small + px ) {
            	padding-left: 60px;
            }

            &:before {
                @extend %abs-pseudo;
                @extend %flex;
                @extend %flex-xy;
                @extend %lead;
                @extend %lead--5;
                left: 0; top: -5px;
                width: 40px; height: 40px;
                background-color: $c-yellow;
                border-radius: 50%;        
                font-weight: $heavy;        
                counter-increment: section;
                content: counter(section);
            }
        }
    }
    
    p {
        line-height: 1.5em;
        
        @media ( max-width: $tablet + px ) {
        	font-size: rem(18);
        }
    }

    &--huge {
        p {
            line-height: 1.5em;
            font-size: rem(30);
            
            @media ( max-width: $base + 64px ) {
                font-size: base(30);
            }
            
            @media ( max-width: $tablet + px ) {
                font-size: rem(24);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                font-size: tablet_portrait(24);
            }
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(22);
            }
            
            @media ( max-width: $small + px ) {
                font-size: rem(20);
            }
        }
    }
    
    &--big {
        p {
            line-height: 1.5em;
            font-size: rem(24);
            
            @media ( max-width: $base + 64px ) {
                font-size: base(24);
            }
            
            @media ( max-width: $tablet + px ) {
                font-size: rem(20);
            }
            
            @media ( max-width: $tablet_portrait + px ) {
                //font-size: tablet_portrait(20);
            }
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(18);
            }
        }
    }
    
    &--medium {
        li, p {
            font-size: rem(22);
            
            @media ( max-width: $base + 64px ) {
                font-size: base(22);
            }
            
            @media ( max-width: $tablet + px ) {
                font-size: rem(18);
            }
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(16);
            }
        }
    }
}
