.o-container {
    padding-top: 176px; 
    
    @media ( max-width: $smartphone_portrait + px ) {
        padding-top: 81px;
    }
    
    //padding-top: 192px; // without topticker

/*
    .home & {
        
        @media ( max-width: $base + 64px ) {
            padding-top: base(330);
        }
        
        @media ( max-width: $smartphone + px ) {
        	padding-top: 130px;
        }
    }
    
    .page-template-page-about & {
        @media ( max-width: $smartphone + px ) {
            padding-top: 100px;        	
        }

    }
*/
}