[class^="icon-"], [class*=" icon-"] {
  &:before {
      font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
}
.icon-pen:before {
  content: "\e920";
}
.icon-clients:before {
  content: "\e921";
}
.icon-doc:before {
  content: "\e922";
}
.icon-clock:before {
  content: "\e923";
}
.icon-bulb:before {
  content: "\e924";
}
.icon-coin:before {
  content: "\e925";
}
.icon-sad:before {
  content: "\e926";
}
.icon-headphones--bold:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e91f";
}
.icon-x:before {
  content: "\e91c";
}
.icon-check-bold:before {
  content: "\e91d";
}
.icon-check:before {
  content: "\e915";
}
.icon-minus:before {
  content: "\e916";
}
.icon-quote:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-check-circle:before {
  content: "\e919";
}
.icon-align-left:before {
  content: "\e91a";
}
.icon-layout:before {
  content: "\e91b";
}
.icon-star:before {
  content: "\e914";
}
.icon-message-square:before {
  content: "\e913";
}
.icon-book-open:before {
  content: "\e911";
}
.icon-users:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e90e";
}
.icon-align-center:before {
  content: "\e900";
}
.icon-box:before {
  content: "\e901";
}
.icon-briefcase:before {
  content: "\e902";
}
.icon-ellipse:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-headphones:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-smile:before {
  content: "\e908";
}
.icon-sunrise:before {
  content: "\e909";
}
.icon-user-check:before {
  content: "\e90a";
}
.icon-video:before {
  content: "\e90b";
}
.icon-watch:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e90d";
}
