.c-counter {
    
    &__content {
        @extend %rel;
        @extend %flex;
        @extend %flex-x;
        margin: 0 auto 160px auto;
        
        @media ( max-width: $tablet + px ) {
        	margin-bottom: tablet(160);
        }
        
        @media ( max-width: $smartphone_portrait + px ) {
        	margin-bottom: 112px;
        }
    }
    
    &__cta {
        text-align: center;
    }
    
    &__item {
        @extend %rel;
        @extend %flex-shrink;
        width: 144px;
        height: 144px;
        margin: 0 52px;
        border-radius: 50%;
        background-color: $c-primary;
        text-align: center;

        @media ( max-width: $tablet + 64px ) {
        	width: tablet(144);
        	height: tablet(144);
        	margin: 0 tablet(52);
        }
        
        &:after, &:before {
           @extend %abs-pseudo;
        }
        
        &:after {
            top: 50%;
            right: 0;
            transform: translate3d(52px, -50%, 0);
            width: 1px; height: 36px;
            background-color: $c-gray-02;
            
            @media ( max-width: $tablet + 64px ) {
                transform: translate3d(tablet(52), -50%, 0);
            }
        }
        
        &:last-of-type {
            &:after {
                display: none;
            }
        }
        
        &:before {
            @extend %lead;
            @extend %lead--6;
            left: 0; top: 100%;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            transform: translate3d(0, 40px, 0);
            content: attr(data-title);
            
            @media ( max-width: $smartphone + px ) {
                font-size: rem(12);
            }
            
            @media ( max-width: $smartphone_portrait + px ) {
                letter-spacing: normal;
                font-size: rem(9);
            }
        }
        
        span {
            @extend %lead;
            @extend %flex;
            @extend %flex-xy;
            height: 100%;
            font: {
                size: rem(40);
                weight: $heavy;
            }
            
            @media ( max-width: $tablet + 64px ) {
                font-size: tablet(40);
            }
        }
    }
    
    .o-btn {
        @media ( max-width: $smartphone_portrait + px ) {
            width: 100%;
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
    
    .o-lead {
        text-align: center;
        
        &--2 {
            margin-bottom: 1em;
        }       
    }
    
    .o-header {
        margin-bottom: 80px;
    }
    
    /*
.o-section {
        padding-bottom: 0;
    }
*/
}
