.c-top {
	@include z-index(top);
	@extend %flex;
	position: fixed;
	left: 0; top: 0;
    width: 100%;
	background-color: white;
    padding: 64px 54px;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
    @media ( max-width: $base + 64px ) {
        padding: {
            left: 32px;
            right: 32px;
        }
    }
    
    @media ( max-width: $smartphone_portrait + px ) {
        padding: 16px 20px;
    }
    
    &__button {
        @extend %anim;
        margin: 0 0 0 auto;
        
        @media ( max-width: $smartphone_portrait + px ) {
            opacity: 0;
            pointer-events: none;
            
            .is-sticked & {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    .o-logo {
        @extend %abs;
        @extend %abs-xy;
        
        transform: translate3d(-50%, calc(-50% - 3px), 0);
        
        @media ( max-width: $tablet_portrait + px ) {
        	width: 143px;
            height: 23px;
        }        
    }

    &.is-sticked {
        border-bottom: 1px solid $c-gray-01;
        padding: {
            top: 16px;
            bottom: 16px;
        }
        
        
        
        .o-logo {
            @media ( max-width: $smartphone_portrait + px ) {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}
