<% include ./src/includes/head %>

<body>

    <% include ./src/includes/cover %>
    <% include ./src/includes/top %>

<div class="o-container">    
    
    <div class="overflow--hidden">
        <% include ./src/includes/intro %>
        <% include ./src/includes/afterintro %>
        <% include ./src/includes/catboxes %>
    </div>
    
        <% include ./src/includes/index %>
        <% include ./src/includes/worth %>
        <% include ./src/includes/about %>
        <% include ./src/includes/isitwork %>
        
        <% include ./src/includes/cost %>
        <% include ./src/includes/counter %>
        <% include ./src/includes/why %>
        <% include ./src/includes/faq %>
        
    <div class="overflow--hidden">
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
    </div>
    
</div>

    <% include ./src/includes/navmenu %>
    <div class="c-apla js-apla">

</body>
</html>


